<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W82L7HHRQH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-W82L7HHRQH');
    </script>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_keywords %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Open Graph -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <%= render "shared/header" %>

    <main class="flex-1">
      <% if notice %>
        <div class="bg-green-50 border-l-4 border-green-400 p-4">
          <div class="container mx-auto">
            <p class="text-green-700"><%= notice %></p>
          </div>
        </div>
      <% end %>

      <% if alert %>
        <div class="bg-red-50 border-l-4 border-red-400 p-4">
          <div class="container mx-auto">
            <p class="text-red-700"><%= alert %></p>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
